<div class="container-fluid">

  <div class="text-left">
    <h4>Faça o cadastro do cliente</h4>
  </div>

  <form>
    <div class="mb-4">

      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Nome" aria-label="Nome">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Sobrenome" aria-label="Sobrenome">
        </div>
      </div><br>

      <h6>Dados importantes</h6>
      <div class="form-control">
        <input type="text" placeholder="pis">
      </div><br>

      <h6>Contato</h6>

      <div class="row">

        <div class="col">
          <label class="form-label">Email</label>
          <input type="text" class="form-control" placeholder="name@email.com">
        </div>

        <div class="col">
          <label class="form-label">Telefone</label>
          <input type="text" class="form-control" placeholder="(xx)xxxxx-xxxx">
        </div>

      </div><br>

      <h6>Endereço completo</h6>
      <div class="col-12">
        <label class="form-label">Endereço</label>
        <input type="text" class="form-control" placeholder="Rua Nome, Nº123">
      </div>

      <div class="col-12">
        <label class="form-label">Complemento</label>
        <input type="text" class="form-control" placeholder="Casa, Apt-01, Bloco">
      </div>

      <div class="col-md-6">
        <label class="form-label">Cidade</label>
        <input type="text" class="form-control" placeholder="Belo Horizonte">
      </div>

      <div class="col-md-2">
        <label class="form-label">Estado</label>
        <input type="text" class="form-control" placeholder="MG">
      </div>

      <div class="col-md-4">
        <label class="form-label">CEP</label>
        <input type="text" class="form-control" placeholder="00.000-000">
      </div>

      <br>

      <div>
        <button type="submit" class="btn btn-primary btn-block">Registrar</button>
      </div>
    </div>
  </form>
</div>
