<div class="container-fluid">
  <h4>Cliente</h4><br>
  <div class="container mb-4">
    <div class="row">
      <h6>Dados pessoais cliente</h6>
      <div class="col-2">
        <label for="form-label">Nome</label>
        <input type="text" class="form-control" placeholder="{{nome}}">
      </div>
      <div class="col-4">
        <label for="form-label">Sobrenome</label>
        <input type="text" class="form-control" placeholder="{{sobrenome}}">
      </div>
      <div class="col-4">
        <label for="form-label">PIS</label>
        <input type="text" class="form-control" placeholder="{{pis}}">
      </div>
    </div><br>

    <div class="row">
      <h6>Contato do cliente</h6>
      <div class="col-6">
        <label for="form-label">Email</label>
        <input type="text" class="form-control" placeholder="{{email}}">
      </div>
      <div class="col-4">
        <label for="form-label">Telefone</label>
        <input type="text" class="form-control" placeholder="{{telefone}}">
      </div>
    </div><br>

    <div class="row">
      <div class="col"><button>Salvar</button></div>
      <div class="col"><button>Deletar</button></div>
    </div>

  </div>
</div>
