<div class="container-fluid">
  <h4>Cliente</h4><br>
  <div class="container mb-4">
    <div class="row">
      <h6>Dados pessoais cliente</h6>
      <div class="col-2">
        <input type="text" class="form-control" placeholder="cliente.nome">
      </div>
      <div class="col-4">
        <input type="text" class="form-control" placeholder="cliente.sobrenome">
      </div>
      <div class="col-4">
        <input type="text" class="form-control" placeholder="cliente.pis">
      </div>
    </div><br>

    <div class="row">
      <h6>Contato do cliente</h6>
      <div class="col-6">
        <input type="text" class="form-control" placeholder="cliente.email">
      </div>
      <div class="col-4">
        <input type="text" class="form-control" placeholder="cliente.telefone">
      </div>
    </div><br>

    <div class="row">
      <div class="col"><button>Salvar</button></div>
      <div class="col"><button>Deletar</button></div>
    </div>

  </div>
</div>
